@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142.1 50% 10%;
    --foreground: 142.1 5% 100%;
    --card: 142.1 50% 10%;
    --card-foreground: 142.1 5% 100%;
    --popover: 142.1 50% 5%;
    --popover-foreground: 142.1 5% 100%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142.1 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 104.1 30% 25%;
    --muted-foreground: 142.1 5% 65%;
    --accent: 104.1 30% 25%;
    --accent-foreground: 142.1 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 142.1 5% 100%;
    --border: 142.1 30% 50%;
    --input: 142.1 30% 50%;
    --ring: 142.1 70.6% 45.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .green {
    --background: 142.1 100% 100%;
    --foreground: 142.1 30% 20%; /* Deixado em um verde escuro */
    --card: 142.1 50% 100%;
    --card-foreground: 142.1 30% 25%; /* Deixado em um verde escuro */
    --popover: 142.1 100% 100%;
    --popover-foreground: 142.1 30% 20%; /* Deixado em um verde escuro */
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 142.1 30% 100%; /* Transformado em um verde claro */
    --secondary: 142.1 30% 90%;
    --secondary-foreground: 142.1 30% 20%; /* Deixado em um verde escuro */
    --muted: 104.1 30% 95%;
    --muted-foreground: 142.1 30% 40%; /* Deixado em um verde mais escuro */
    --accent: 104.1 30% 90%;
    --accent-foreground: 142.1 30% 25%; /* Deixado em um verde escuro */
    --destructive: 0 100% 50%; /* Vermelho mantido para destrutivo */
    --destructive-foreground: 142.1 30% 100%; /* Transformado em um verde claro */
    --border: 142.1 30% 82%;
    --input: 142.1 30% 50%;
    --ring: 142.1 70.6% 45.3%;
    --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* Estilo customizado para scrollbar vertical */
::-webkit-scrollbar {
  width: 18px;
  height: 18px; /* Adicione esta linha para scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}